function Guard.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
call Guard.draw 1
pop temp 0
push pointer 0
call Guard.setBackground 1
pop temp 0
push pointer 0
return
function Guard.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Guard.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 15
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Guard.setBackground 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 65
push constant 511
push constant 72
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 130
push constant 511
push constant 137
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 200
push constant 511
push constant 207
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 0
push constant 2
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 50
push constant 0
push constant 52
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 100
push constant 0
push constant 102
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 150
push constant 0
push constant 152
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 200
push constant 0
push constant 202
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 250
push constant 0
push constant 252
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 300
push constant 0
push constant 302
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 350
push constant 0
push constant 352
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 400
push constant 0
push constant 402
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 450
push constant 0
push constant 452
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 500
push constant 0
push constant 502
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
